<div class="container">
    <form >
      <div class="text-center padding"><h2>Student Form</h2></div>
      <div class="form-group row">
          <div class="form-row">
               <div class="form-group col-md-6">
                   <label for="inputName" class="form-label col-lg-12">Student Name</label>
                   <input type="text" class="form-control col-lg-12" id="inputName" placeholder="Enter Name" [(ngModel)]="name" name="inputName" autocomplete>
               </div>
               <div class="form-group col-md-6">
                   <label for="inputRoll" class="form-label col-lg-12">Roll Number</label>
                   <input type="text" class="form-control col-lg-12" id="inputRoll" [disabled]='isUpdate' placeholder="Roll Number" [(ngModel)]="rollNumber" name="inputRoll">
               </div>
               <div class="form-group col-md-6">
                <label for="email" class="form-label col-lg-12">Email  Id</label>
                <input type="email" class="form-control col-lg-12" id="email" placeholder="Enter email" [(ngModel)]="emailId" name="inputEmail">
               </div>
               <div class="form-group col-md-6">
                   <label for="password" class="form-label col-lg-12">password</label>
                   <input type="password" class="form-control col-lg-12" id="password" placeholder="password" [(ngModel)]="password" name="inputPassword">
               </div>
               <div class="form-group col-lg-12">
                   <label for="comment">Comment:</label>
                   <textarea class="form-control col-lg-12" rows="5" id="comment"></textarea>
               </div>

            <div class="form-group col-lg-6">
               <button type="submit" *ngIf="!isUpdate" class=" btn btn-primary padding-top" (click)="onSubmitForm()">Submit</button>
               <button type="submit" *ngIf="isUpdate" class=" btn btn-primary padding-top" (click)="onSubmitForm()">Update</button>

               <button type="submit" class=" btn btn-danger padding-top">cancel</button>
            </div>
</div>
<!--
<table>
 <tr *ngFor = "let st of students">
 <td>{{st.name}}</td>
 <td>{{st.rollNumber}}</td>
 <td>{{st.emailId}}</td>
</tr>
</table> -->

<!-- <p>{{enteredName}}</p>
<p>{{ enteredRoll }}</p>
<p>{{enteredEmail}}</p> -->
