<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand">MySchool</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a routerLink="studentList" class="nav-link"> Students</a></li>
      <li class="nav-item"><a routerLink=" " class="nav-link"> Form</a></li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
